.logSign > button {
  font-size: 1.3vmax;
  font-style: "Roboto";
  height: 2vmax;
  width: 10vmax;
  
  background: white;
  font-weight: lighter;
  border-radius: 1vmax;
  cursor: pointer;
}

.logSign > button:hover{
  border:3.5px solid rgb(0, 0, 0);
}

#Login {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

}

#Signup{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.logSign {
  width: 40vmax;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.First-letter{
  height: 2.2vmax;
  width: 10.2vmax;
  border-radius: 26px;
  margin: 4%;
  
  display: flex;
  justify-content: center;
  align-items:flex-end;
  font-size: 1.1vmax;
  color: rgb(249, 249, 249);
  animation: First-letter 1s ease-in-out infinite alternate;
  }
    @keyframes First-letter {
      from {
      color:rgb(47, 255, 0);
        text-shadow: 0 0 5px #80ff00, 0 0 10px #80ff00, 0 0 20px #80ff00, 0 0 30px #80ff00, 0 0 40px #80ff00, 0 0 50px #80ff00, 0 0 60px #80ff00;
      }}


#langLogo {
  height: 3vmax;
  width: 3vmax;
  margin-left: 2vmax;
}

#selectLang {
  height: 1.5vmax;
  width: 6vmax;
  border-radius: 0.3vmax;
  font-size: 0.8vmax;
  outline: none;
  text-align: center;

}


 

